.banner {
  background-image: url(http://media.giphy.com/media/UGBGJvDOExkGc/giphy.gif);
  height: 130px;
  width: 100%;
  font-weight: bold;
}
#drink_scale{
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}
#legal_limit{
  height: 87px;
  width: 50px;
  background-color: blue;
  display: inline-block;
}
#you{
  width: 50px;
  display: inline-block;

}
div.ui.popup{
  background-color: #383838;
  color: white;
}

.error{
  font-size: 30px;
  color: red;
  margin-top: 2%;
}

.bottomBanner{
  height: 130px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}



.drunkIcon{
  height: 120px;
  width: 120px;
}

#map{
     height: 600px;
     width: 600px;
}

.car{
    height: 60px;
     width: 60px;
}

#drink_n_drive{
  width: 80%;
  height: 80%;
}

.recommend{
  font-size: 400px;
}

#checkDrivers{
  margin: auto;
}
#orderRide{
  margin: auto;
}

#rapper{
  display: none;
}
