<form id="index_form" method="post" action="/users/calculate">
    <label>How many drinks have you had?</label>
      <input placeholder="2.. many" type="number" step="any" name="drinks"><br>
    <label>How much do you weigh?</label>
      <input placeholder="lbs" type="number" step="any" name="weight"><br>
    <label>How long since your first drink?</label>
      <input placeholder="Amount of hours" type="number" step="any" name="time"><br>
     <label>Gender?</label>
    <select name ="gender">
      <option value="gender">Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
    <br>
  <input type="checkbox" id="agree" />
  <label>
    I agree with the <a href="/terms-and-conditions" id="terms" data-content="This is an ESTIMATOR and is not 100% accurate. Use at your own risk." data-variation="very wide" >terms and conditions</a>.
  </label>
    <button id="index_form_button" value="submit">Submit</button>
  </form>
