<div class="ui middle aligned center aligned grid">
  <div id="signUpGrid" class="column">
    <h2 class="ui black image header">
      <img src="/imgs/Beericon.png" class="image">
      <div class="content">
        Sign Up for an account
      </div>
    </h2>
    <form class="ui large form" id="sign_up_form"method="post" action="/users">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="first_name" placeholder="First Name" required>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="last_name" placeholder="Last Name" required>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address" required>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password" required>
          </div>
        </div>
        <button class="ui fluid large grey submit button" type="submit">Sign Up!</button>
      </div>
      <div class="ui error message"></div>
    </form>
  </div>
</div>
