<script type="text/javascript">
  var json = "<%= @blood_alcohol_content %>";
</script>
  <script src="/Chart.js/Chart.js"></script>
  <script src="/js/bar.js"></script>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h1 class="ui huge header">
      Your BAC: <%= @blood_alcohol_content %></h1>
      <h2 class="ui sub header">
        <%# if @blood_alcohol_content < 0.08  %>
          <%#= "below legal limit" %>
        <%# else  %>
          <%#= "above legal limit!" %>
        <%# end %>
      </h2>
    <canvas id="myBar" width="300" height="600"></canvas>
  </div>
</div>
