<%if session[:user_id] == nil  %>
<%= erb :"/users/_beer_pour_background" %>

  Welcome
<%else %>

  <h3>1 drink = 12oz. 5% beer, 1.25 oz. 40% liquor, 5oz. 12% wine</h3>
  <%= erb :'users/_index_form' %>
<% end %>
