<h1>Sign In</h1>
  <form method="post" action="/users/sessions">
      <label>Email</label>
      <input type="email" name="email" placeholder="e.g., me@example.com">
      <label>Password</label>
      <input type="password" name="password" placeholder="6 or more characters">
    <button type="submit">Sign In!</button>
  </form>
