<div class="ui bottom fixed menu" style="border: none">
  <div class="bottomBanner">
  <img class="drunkIcon" src="/imgs/567342.gif">
  <img class="drunkIcon" src="/imgs/walking-drinking.png">
  <img class="drunkIcon" src="/imgs/drunk.png">
  <img class="drunkIcon" src="/imgs/drunk-puke.png">
  </div>
</div>
