<div class="ui medium circular image nine wide column">
  <div id="map">
  </div>
</div>
<button id="orderRide" href=" " class="massive ui center aligned button">
    Order a ride!
</button>
<script src="/js/checkdrivers.js"></script>
