<div class="ui middle aligned center aligned grid ">
  <div class="column">
    <div class="black ui message">
      <div class="ui left aligned header">
    <img class="ui image" src="http://www.iconsplace.com/download/white-beer-256.png"></a>
    <img class="ui image" src="https://cdn4.iconfinder.com/data/icons/shopping-symbol-2/500/accounting_black_business_calculator_electronics_icon_math_office-256.png"></a>
  </div>
      <h1 class="yellow ui right aligned huge header">
        Welcome to B.A.C.E.</h1>
      <h3 class="content">(Blood Alcohol Content Estimator)</h3>
      <a class="ui huge grey button" href="/users/sessions/new">Get Started <i class="right arrow icon"></i></a>
    </div>
  </div>
</div>
