<div class="ui medium circular image nine wide column">
  <div id="map">
  </div>
</div>
  <button id="checkDrivers" href=" " class="massive ui center aligned button">
        Check for Drivers
    </button>
<script src="/js/map.js"></script>
