<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a href="/" id="bace_link" class="item">
      B.A.C.E.
    </a>
    <div class="right menu">
    <% if session[:user_id] == nil %>
    <a id="navSignInLink" href="/users/sessions/new" class="item">
      Sign In
    </a>
    <a id="navSignUpLink" href="/users/new" class="item">
      Sign Up
    </a>
    <% else %>
    <a id="navLogOutLink" href="/users/sessions/logout" class="item">
      Log Out
    </a>
    <%end %>
    </div>
  </div>
</div>
