<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a href="/" id="bace_link" class="item">
      B.A.C.E.
    </a>
    <% if current_user %>
      <div id="welcome" class="item" style="color: white">
        Welcome <%= @user.first_name %>!
      </div>
    <% end %>
    <div class="right menu">
    <% if session[:user_id] == nil %>
     <div class="item">
        <img src="https://cdn1.iconfinder.com/data/icons/social-black-buttons/512/uber-256.png">
     </div>
     <div class="item">
        <a id="navUberSignUpLink" href="https://login.uber.com/oauth/authorize?response_type=code&client_id=9z6pxBTjyMZZHtdIOndfCfN1pnl_v8q7">
        Uber Sign In
      </a>
     </div>
    </a>
    <a id="navSignInLink" href="/users/sessions/new" class="item">
      Sign In
    </a>
    <a id="navSignUpLink" href="/users/new" class="item">
      Sign Up
    </a>
    <% else %>
    <a id="navLogOutLink" href="/users/sessions/logout" class="item">
      Log Out
    </a>
    <%end %>
    </div>
  </div>
</div>
